@media screen and (min-width: 601px) {

   /******************************
               NAVBAR
   *******************************/

   .nav-menu i,
   .user-box i {
      margin-right: 6px;
   }

   /* logo-box */

   nav {
      width: 180px;
   }

   img.logo-small {
      display: none;
   }

   .logo {
      display: block;
      height: 30px;
   }

   /* nav items */

   .nav-items {
      text-align: left;
   }

   span.menu-txt {
      display: inline;
   }
   
   /* new playlist */

   .new-playlist {
      display: block;
      margin-bottom: 1rem;
   }

   .new-playlist h6 {
      color: var(--primary-font-color);
      margin-bottom: .5rem;
   }

   .new-playlist span {
      color: var(--secondary-bg-color);
      background-color: var(--secondary-font-color);
      font-size: 18px;
      font-weight: 600;
      padding: 0px 6px;
      vertical-align: middle;
      margin-right: 6px;
   }
   
   /* playlist list */

   .playlist-list {
      display: block;
      font-weight: 600;
   }

   .playlist-list li {
      padding: .25rem 0px;
   }

   /* user box - profile box */

   .profile-box {
      border-top: 1px solid var(--secondary-font-color);
      padding-top: 9px;
   }


   /******************************
               FOOTER
   *******************************/

   .player-album {
      width: 250px;
   }
   
   .player-console {
      width: 50%;
   }
   
   
   .player-options {
      width: 250px;
   }

}




@media screen and (min-width: 601px) and (max-width: 700px){


   
   
   
   
   
   
   
   /******************************
               MAIN
   *******************************/


}