* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   /* colors */
   --primary-bg-color: #1c2332; 
   --secondary-bg-color: #000;
   --footer-color: #282828;

   /* font color */
   --primary-font-color: #fff;
   --secondary-font-color: rgba(255,255,255,.4);

   /* font size */
   --primary-font-size: 16px;
   --nav-items: 12px;
   --caption: 10px;
}

body {
   font-family: 'Montserrat', sans-serif;
   color: var(--primary-font-color);
}

.container {
   display: flex;
   padding: 1rem;
}

.active {
   color: var(--primary-font-color);
}

ul {
   font-size: var(--nav-items);
   list-style: none;
}

a,
p {
   color: var(--secondary-font-color);
   font-size: var(--nav-items);
   text-decoration: none;
   font-weight: 500;
}

a:hover {
   color: var(--primary-font-color);
}


/******************************
            NAVBAR
*******************************/

nav {
   background-color: var(--secondary-bg-color);
   color: var(--secondary-font-color);
   float: left;
   width: 50px;
   height: calc(100vh - 90px);
   overflow: hidden;
}

nav .container {
   height: 100%;
   flex-direction: column;
   justify-content: space-between;
}

/* logo box */

.logo-box {
   margin-bottom: 1rem;
}

.logo {
   display: none;
}

span.menu-txt {
   display: none;
}

/* nav-items */

.nav-items {
   text-align: center;
   margin-bottom: 1rem;
}

.nav-items li {
   padding: 0.25rem 0px;
}

/* new playlist */

.new-playlist {
   display: none;
}

/* playlist list */

.playlist-list {
   display: none;
}

/* user-box - download */

.download-box {
   margin-bottom: 1rem;
}



/******************************
            MAIN
*******************************/

main {
   background-color: var(--primary-bg-color);
   position: relative;
   height: calc(100vh - 90px);
   overflow: auto;
}



/* upgrade box */

.upgrade-box {
   background-color: rgba(0,0,0,.4);
   justify-content: flex-end;
   position: sticky;
   width: 100%;
   padding: 20px;
}

.upgrade-box a {
   border: 1px solid var(--secondary-font-color);
   padding: .5rem 1.5rem;
   border-radius: 25px;
}

.upgrade-box a:hover {
   border: 1px solid var(--primary-font-color);
   color: var(--primary-font-color);
}



/* tabs button */

.tab-buttons {
   color: var(--secondary-font-color);
   text-align: center;
}

.tab-buttons ul {
   width: 100%;
}

.tab-buttons li {
   display: inline-block;
   padding: .75rem 1rem;
}

.tab-buttons li:hover {
   color: var(--primary-font-color);
}



/* recently played */

.flex-cards {
   flex-wrap: wrap;
   column-gap: 1rem;
   row-gap: 1rem;
}

.title-row {
   width: 100%;
}

.flex-cards .artist-card {
   width: calc(100% / 2 - .5rem);
}

.artist-image img {
   display: inline-block;
   width: 100%;
}

.artist-caption {
   padding: 0.5rem;
   text-align: center;
}

.artist-caption h5 {
   margin-bottom: .5rem;
}


/* most popular */

.rounded-image {
   border-radius: 50%;
}







/******************************
            FOOTER
*******************************/

footer {
   background-color: var(--footer-color);
   width: 100%;
   height: 90px;
}

footer .container {
   justify-content: space-between;
   align-items: center;
}

.player-album,
.player-options,
.album-track,
.console-trackbar,
.console-icons,
.player-options {
   display: flex;
   align-items: center;
}

.player-icon {
   font-size: var(--primary-font-size);
}

/* player album */

.player-album {
   justify-content: space-between;
   width: 30%;
}

.album-track {
   display: flex;
   width: 70%;
}

.album-track .artist-image {
   width: 30%;
}

.album-track .artist-caption {
   text-align: left;
   width: 70%;
}

.album-icons {
   width: 30%;
}

.album-icons .player-icon {
   color: var(--secondary-font-color);
}

/* player console - console icons */

.player-console {
   width: 40%;
   padding: 0rem .25rem;
}

.console-icons {
   justify-content: center;
   width: 100%;
   text-align: center;
}

.console-icons .icon-box {
   display: inline-block;
   padding: 0rem .55rem;
   font-size: var(--primary-font-size);
}

.icon-box.play-button {
   padding: 0rem 1rem;
}

.fa-circle-play {
   font-size: 1.75rem;
}


/* player console - console trackbar */

.console-trackbar {
   justify-content: space-between;
   margin-top: .5rem;
}

.time-tracker {
   width: 20%;
   padding: 0rem .5rem;
}

.time-start {
   text-align: right;
}

.trackbar {
   width: 60%;
   height: 3px;
   border-radius: 2px;
   background-color: var(--secondary-font-color);
}

.time-track {
   display: block;
   background-color: var(--primary-font-color);
   height: 100%;
   border-radius: 2px;
   width: 20%;
}


/* player options */

.player-options {
   width: 30%;
   text-align: center;
}

.player-options .icon-box {
   width: 15%;
}

.player-options .trackbar{
   width: 55%;
}

