* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   /* colors */
   --primary-bg-color: #1c2332; 
   --secondary-bg-color: #000;
   --footer-color: #282828;

   /* font color */
   --primary-font-color: #fff;
   --secondary-font-color: rgba(255,255,255,.4);

   /* font size */
   --nav-items: 12px;
   --caption: 10px;
}

.ingombri {
   background-color: rgb(55, 55, 55);
}

body {
   font-family: 'Montserrat', sans-serif;
   color: var(--primary-font-color);
}

.container {
   display: flex;
   padding: 1rem;
}

.active {
   color: var(--primary-font-color);
}

div {
   width: 100%;
}

ul {
   font-size: var(--nav-items);
   list-style: none;
}

a {
   text-decoration: none;
   color: var(--secondary-font-color);
}

a:hover {
   color: var(--primary-font-color);
}


/******************************
            NAVBAR
*******************************/

nav {
   background-color: var(--secondary-bg-color);
   color: var(--secondary-font-color);
   float: left;
   width: 50px;
   height: calc(100vh - 90px);
   overflow: hidden;
}

nav .container {
   height: 100%;
   flex-direction: column;
   justify-content: space-between;
}

.nav-menu a,
.user-box a {
   font-size: var(--nav-items);
   font-weight: 500;
   display: inline;
}

/* logo box */

.logo-box {
   margin-bottom: 1rem;
}

.logo {
   display: none;
}

span.menu-txt {
   display: none;
}

/* nav-items */

.nav-items {
   text-align: center;
   margin-bottom: 1rem;
}

.nav-items li {
   padding: 0.25rem 0px;
}

/* new playlist */

.new-playlist {
   display: none;
}

/* playlist list */

.playlist-list {
   display: none;
}

/* user-box - download */

.download-box {
   margin-bottom: 1rem;
}



/******************************
            MAIN
*******************************/

main {
   background-color: var(--primary-bg-color);
   position: relative;
   height: calc(100vh - 90px);
   overflow: auto;
}


/* upgrade box */

.upgrade-box {
   background-color: rgba(0,0,0,.4);
   position: sticky;
   width: 100%;
   height: auto;
   padding: 20px;
   top: 0;
   left: 0;
   text-align: right;
}

.tab-buttons {
   color: var(--secondary-font-color);
   text-align: center;
}

.tab-buttons ul {
   width: 100%;
}

.tab-buttons li {
   display: inline;
}


/* recently played */

.flex-cards {
   flex-wrap: wrap;
   column-gap: 1rem;
   row-gap: 1rem;
}

.flex-cards .ingombri {
   background-color: azure;
   width: calc(100% / 2 - .5rem);
   height: 200px;
}













/******************************
            FOOTER
*******************************/

footer {
   background-color: var(--footer-color);
   width: 100%;
   height: 90px;
}

footer .container {
   justify-content: space-between;
   align-items: center;
}